.category {
   @include ellipsis;
   display: inline-block;
   padding: 1px 8px;
   padding-top: 4px;
   font-size: 12px;
   border-radius: 4px;
   max-width: 150px;

   color: #fff;
   background: $color-secondary;
   text-transform: uppercase;
   white-space: nowrap;
}