.tags-cloud {}

.tags-cloud__title {
   padding-bottom: 1em;
   border-bottom: 1px solid $color-border;
   color: $color-primary;
}

.tags-cloud__list {
   @include a11y-list;
   display: flex;
   flex-wrap: wrap;
   margin: -3px;
}

.tags-cloud__item {
   flex: 1 auto;
   text-align: center;
   background: red;
   margin: 3px;
   max-width: 100px;
}