{{ define "styles" }}<%= htmlWebpackPlugin.tags.headTags %>{{ end }}
{{ define "scripts" }}<%= htmlWebpackPlugin.tags.bodyTags %>{{ end }}

{{ define "title" }} {{ .post.Title }} | Web2.0 {{ end }}

{{ define "content" }}
<div class="post-page page-container container main-flow">
   <main class="main-flow__main post-page__main-flow">
      <a class="post-page__edit" aria-label="edit" title="Edit this post"
         href="/editor/edit/{{ .post.Slug }}">
         <svg class="icon icon-pencil">
            <use xlink:href="#icon-pencil"></use>
         </svg>
      </a>
      <h1 class="h1">{{ .post.Title }} <div class="category">{{ .post.Category }}</div></h1>
      <p class="post-page__description">{{ .post.Description }}</p>
      <div class="post-page__img-container">
         <img class="post-page__img" src="{{ .post.Image }}" width="500" height="350" alt="{{ .post.Title }}">
      </div>
      <div class="post-page__content">{{ .post.Content.Html }}</div>

      <a class="post-page__more link link--arrow" href="/posts">
         See other posts
         <svg class="link__arrow icon icon-arrow-right2">
            <use xlink:href="#icon-arrow-right2"></use>
         </svg>
      </a>
   </main>

   <aside class="main-flow__aside">{{ template "info-aside" . }}</aside>
</div>
{{ end }}