{{ define "styles" }}<%= htmlWebpackPlugin.tags.headTags %>{{ end }}
{{ define "scripts" }}<%= htmlWebpackPlugin.tags.bodyTags %>{{ end }}

{{ define "title" }} {{ .post.Title }} | Web2.0 {{ end }}

{{ define "content" }}
<div class="post-page page-container container main-flow">
   <main class="main-flow__main">
      <h1 class="h1">{{ .post.Title }}</h1>
      <p class="post-page__description">{{ .post.Description }}</p>
      <div class="post-page__img-container">
         <img class="post-page__img" src="{{ .post.Image }}" width="500" height="350" alt="{{ .post.Title }}">
      </div>
      <div class="post-page__content">{{ .post.Content.Html }}</div>
   </main>

   <aside class="main-flow__aside">{{ template "info-aside" . }}</aside>
</div>
{{ end }}