.logo {
   display: flex;
   justify-content: center;
   align-items: flex-end;
   
   padding-top: 48px;
   font-size: 40px;
   font-weight: 600;
   color: $color-primary;

   &--full {
      @include breakpoint($tablet) {
         font-size: 90px;
      }
   }
}