:root {
   --color-primary: #000;
   --color-secondary: #007bff;

   --color-text: #333;
   --color-text-secondary: #b3b3b3;

   --page-padding: 16px;

   --font-primary: 'Josefin Sans', arial, sans-serif
}

$large-tablet: 999px;

$tablet: 768px;
$small-devices:767px;

$large-mobile: 620px;
$hor-mobile: 480px;