@import './variables/css-variables';

html {
   font-family: $font-primary;
   line-height: 1.5;

   color: $color-text;
   font-weight: $weight-primary;

   //min-width: 300px;
}

*,
:after,
:before {
   box-sizing: border-box;
}

a {
   text-decoration: none;
   color: inherit;
}

.link {
   color: $color-secondary;

   &:hover {
      text-decoration: underline;
   }

   &--arrow {
      display: inline-flex;
      align-items: center;
      font-weight: 600;
      transition: filter .3s;

      .link__arrow {
         margin-left: 0.5em;
         transition: margin-left .3s;
      }

      &:hover {
         text-decoration: none;
         filter: brightness(0.7);

         .link__arrow {
            margin-left: 1em;
         }
      }
   }
}

input[type="search"] {
   -moz-appearance: none;
   -webkit-appearance: none;
   appearance: none;
   box-sizing: border-box;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
   -webkit-appearance: none;
}

figure {
   margin: 0;
}

.container {
   margin: 0 auto;
   padding: 0 var(--page-padding);
   max-width: var(--page-width);
   box-sizing: content-box;
}

.page-container {
   padding-top: 48px;
   padding-bottom: 48px;

   @include breakpoint($tablet) {
      padding-bottom: 68px;
   }
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
   font-style: normal;
   font-weight: 500;
   line-height: 1.2;
   margin-top: 0;
}

.h3 {
   font-size: 1.75rem;
}

.h4 {
   font-size: 1.2rem;
}