.header {
   padding: 10px 0;
   height: 64px;
   color: $color-bg;
   background-color: $color-primary;
}

.header__content {
   height: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.header__socials {
   margin-right: 16px;

   @include breakpoint($mobile) {
      margin-right: 64px;
   }
}