{{ define "styles" }}<%= htmlWebpackPlugin.tags.headTags %>{{ end }}
{{ define "scripts" }}<%= htmlWebpackPlugin.tags.bodyTags %>{{ end }}

{{ define "content" }}
<section class="container page-container about-page">
   <h1 class="h1">Privacy Policy</h1>
   <p>Out Privacy Policy is simple now: <b>there's no any policy</b>.</p>
   <p>So be careful here. Your data are <b>not secured</b> properly and they can be deleted at any time.</p>
</section>
{{ end }}