{{ define "styles" }}<%= htmlWebpackPlugin.tags.headTags %>{{ end }}
{{ define "scripts" }}<%= htmlWebpackPlugin.tags.bodyTags %>{{ end }}

{{ define "content" }}
<section class="container">
   <h1>Internal server error</h1>
   <a href="/">Go Home</a>
</section>
{{ end }}