{{ define "styles" }}<%= htmlWebpackPlugin.tags.headTags %>{{ end }}
{{ define "scripts" }}<%= htmlWebpackPlugin.tags.bodyTags %>{{ end }}

{{ define "content" }}
<h1>Page not found</h1>
<a class="link" href="/">Go Home</a>
{{ end }}
