{{ define "styles" }}<%= htmlWebpackPlugin.tags.headTags %>{{ end }}
{{ define "scripts" }}<%= htmlWebpackPlugin.tags.bodyTags %>{{ end }}

{{ define "content" }}
<section class="container container--page">
   <h1>Web2.0 Editor</h1>
   <p>Create Your own post on Web2.0</p>
</section>
{{ end }}