{{ define "styles" }}<%= htmlWebpackPlugin.tags.headTags %>{{ end }}
{{ define "scripts" }}<%= htmlWebpackPlugin.tags.bodyTags %>{{ end }}

{{ define "content" }}
   <h1>Home page!!!!!!</h1>

   {{ .out }}
{{ end }}