<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Freeevilk - just use eval</title>
</head>

<body>
   <nav>
      <ul>
         <li><a href="/">Home</a></li>
         <li><a href="/user">Account</a></li>
      </ul>
   </nav>

   <h1>Freeevil - just use eval</h1>
   <p>Hi, {{ .Name }}</p>
</body>

</html>