{{ define "menu" }}
<nav class="menu menu-js">
   <button class="menu__show show-menu-js" aria-label="open menu" aria-expanded="false" aria-controls="menu__list"></button>

   <ul class="menu__list menu-list-js" id="menu__list">
      <li class="menu__item menu__item--active"><a class="menu__link" href="/">Home</a></li>
      <li class="menu__item"><a class="menu__link" href="/editor/new">Editor</a></li>
      <li class="menu__item"><a class="menu__link" href="/contac-us">Contact</a></li>
      <li class="menu__item"><a class="menu__link" href="/about">About</a></li>
      <li class="menu__item">
         <a class="menu__link" href="https://guides.github.com/features/mastering-markdown/" @blank>Help</a>
      </li>
   </ul>
</nav>
{{ end }}