// Breakpoints
$large-tablet: 999px;
$tablet: 768px;
$large-mobile: 620px;
$mobile: 480px;
$small-mobile: 375px;
$tiny-mobile: 320px;

// Colors
$color-primary: #000;
$color-secondary: rgb(0, 80, 255);
$color-text: rgb(50, 50, 50);
$color-text-secondary: rgb(115, 115, 115);
$color-border: #efefef;
$color-bg: #fff;
$color-error: #ff2c55;
$color-skeleton: #f5f5f5;