{{ define "info-aside" }}
<div class="info-aside">
   <form class="info-aside__search search-field" action>
      <input type="search" class="search-field__field" placeholder="Type a keyword and hit enter"
         aria-label="Type a keyword and hit enter">
      <svg class="search-field__icon icon icon-search">
         <use xlink:href="#icon-search"></use>
      </svg>
   </form>
   <section class="info-aside__categories categories-list">
      <h4 class="categories-list__title h4">Categories</h4>
      <ul class="categories-list__list">
         <li class="categories-list__item">
            <a class="categories-list__link" href="/posts?categories=news">
               <span class="categories-list__name">News</span>
               <span class="categories-list__counter">(12)</span>
            </a>
         </li>
         <li class="categories-list__item">
            <a class="categories-list__link" href="/posts?categories=guides">
               <span class="categories-list__name">Guides</span>
               <span class="categories-list__counter">(23)</span>
            </a>
         </li>
         <li class="categories-list__item">
            <a class="categories-list__link" href="/posts?categories=experiments">
               <span class="categories-list__name">Experiments</span>
               <span class="categories-list__counter">(62)</span>
            </a>
         </li>
         <li class="categories-list__item">
            <a class="categories-list__link" href="/posts?categories=stories">
               <span class="categories-list__name">Other</span>
               <span class="categories-list__counter">(44)</span>
            </a>
         </li>
         <li class="categories-list__item">
            <a class="categories-list__link" href="/posts?categories=other">
               <span class="categories-list__name">Backend</span>
               <span class="categories-list__counter">(8)</span>
            </a>
         </li>
      </ul>
   </section>
   <section class="info-aside__tags tags-cloud">
      <h4 class="tags-cloud__title h4">Tags</h4>
      <ul class="tags-cloud__list">
         <li class="tags-cloud__item tag tag--link tag--has-hover">
            <a class="tag__link" href="/posts?tags=?">html</a>
         </li>
         <li class="tags-cloud__item tag tag--link tag--has-hover">
            <a class="tag__link" href="/posts?tags=?">css</a>
         </li>
         <li class="tags-cloud__item tag tag--link tag--has-hover">
            <a class="tag__link" href="/posts?tags=?">js</a>
         </li>
         <li class="tags-cloud__item tag tag--link tag--has-hover">
            <a class="tag__link" href="/posts?tags=?">TypeScript</a>
         </li>
         <li class="tags-cloud__item tag tag--link tag--has-hover">
            <a class="tag__link" href="/posts?tags=?">flexbox</a>
         </li>
         <li class="tags-cloud__item tag tag--link tag--has-hover">
            <a class="tag__link" href="/posts?tags=?">golang</a>
         </li>
         <li class="tags-cloud__item tag tag--link tag--has-hover">
            <a class="tag__link" href="/posts?tags=?">g</a>
         </li>
         <li class="tags-cloud__item tag tag--link tag--has-hover">
            <a class="tag__link" href="/posts?tags=?">lorem fsa fsfasd fasjdjfkasdf </a>
         </li>
         <li class="tags-cloud__item tag tag--link tag--has-hover">
            <a class="tag__link" href="/posts?tags=?">VS Code</a>
         </li>
         <li class="tags-cloud__item tag tag--link tag--has-hover">
            <a class="tag__link" href="/posts?tags=?">design</a>
         </li>
         <li class="tags-cloud__item tag tag--link tag--has-hover">
            <a class="tag__link" href="/posts?tags=?">prolog</a>
         </li>
         <li class="tags-cloud__item tag tag--link tag--has-hover">
            <a class="tag__link" href="/posts?tags=?">svn</a>
         </li>
         <li class="tags-cloud__item tag tag--link tag--has-hover">
            <a class="tag__link" href="/posts?tags=?">git</a>
         </li>
         <li class="tags-cloud__item tag tag--link tag--has-hover">
            <a class="tag__link" href="/posts?tags=?">linux</a>
         </li>
      </ul>
   </section>
</div>
{{ end }}