<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="icon" type="image/png" href="~@/img/logo.png" />
   <title>{{ template "title" .}}</title>

   {{ template "meta" . }}

   <link rel="preload" as="font" href="~@/fonts/josefin/JosefinSans-Light.woff2" crossorigin>
   <link rel="preload" as="font" href="~@/fonts/josefin/JosefinSans-Regular.woff2" crossorigin>
   <link rel="preload" as="font" href="~@/fonts/josefin/JosefinSans-SemiBold.woff2" crossorigin>

   <%= htmlWebpackPlugin.tags.headTags %>
   <%= htmlWebpackPlugin.tags.bodyTags %>

   {{ block "styles" . }} {{ end }}
   {{ block "scripts" . }} {{ end }}

   <% if (process.env.DEV === "true") { %>
   <script type="application/json" class="app-dot">{{ . }}</script>
   <script>const dot = JSON.parse(document.querySelector('.app-dot').innerHTML);</script>
   <% } %>
</head>

<body class="page">
   <%= require("@/icons/icomoon/symbol-defs.svg") %>

   {{ template "header" . }}
   {{ template "logo" . }}
   {{ template "menu" . }}

   <div class="page__content-container">
   {{ template "content" . }}
   </div>
   
   {{ template "footer" . }}
</body>

</html>

{{ define "title" -}} Web2.0 | Everything you want to know about web {{- end }}

{{ define "description" -}}
   Web2.0 is a blog covering Frontend, Backend and other IT related topics and news. Published by
      Dmitry Gashko, web developer at Postindustria, many other developers and just cool people - anyone can create a post here.
{{ end }}

{{ define "og:img" -}}  https://web20.tk<%= require("@/img/web20.jpg") %> {{- end }}

{{ define "og:url" -}} https://web20.tk {{ end }}

{{ define "meta" }}
<meta name="description" content='{{ template "description" .}}'>

<meta property="og:url" content='{{ template "og:url" .}}'>
<meta property="og:type" content="website">
<meta property="og:title" content='{{ template "title" .}}'>
<meta property="og:description" content='{{ template "description" .}}'>
<meta property="og:image" content='{{ template "og:img" .}}'>

<meta name="twitter:title" content='{{ template "title" .}}'>
<meta name="twitter:description" content='{{ template "description" .}}'>
<meta name="twitter:image" content='{{ template "og:img" .}}'>
<meta name="twitter:card" content="summary_large_image">
{{ end }}