<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="icon" type="image/png" href="~@/img/logo.png" />
   <title>{{ template "title" .}}</title>

   <link rel="preload" as="font" href="~@/fonts/josefin/JosefinSans-Regular.woff2" crossorigin>
   <link rel="preload" as="font" href="~@/fonts/josefin/JosefinSans-SemiBold.woff2" crossorigin>

   <%= htmlWebpackPlugin.tags.headTags %>
   <%= htmlWebpackPlugin.tags.bodyTags %>

   {{ block "styles" . }} {{ end }}
   {{ block "scripts" . }} {{ end }}

   <% if (process.env.DEV === "true") { %>
   <script type="application/json" class="app-dot">{{ . }}</script>
   <script>const dot = JSON.parse(document.querySelector('.app-dot').innerHTML);</script>
   <% } %>
</head>

<body class="page">
   <%= require("@/icons/icomoon/symbol-defs.svg") %>

   {{ template "header" . }}
   {{ template "logo" . }}
   {{ template "menu" . }}

   <div class="page__content-container">
   {{ template "content" . }}
   </div>
   
   {{ template "footer" . }}
</body>

</html>

{{ define "title" -}} Web2.0 | Everything you want to know about web {{- end }}
