.footer-latest {

}

.footer-latest__list {
   @include a11y-list;
}

.footer-latest__item {
   margin-top: 16px;

   &:first-child {
      margin-top: 0;
   }
}

.footer-latest__link {
   @include line-clamp(2);
   transition: filter.3s;

   &:hover,
   &:focus {
      filter: brightness(0.6);
   }
}