@mixin breakpoint ($size) {
   @media (min-width: $size) {
      @content;
   }
}

@mixin breakpointMax ($size) {
   @media (max-width: $size) {
      @content;
   }
}

@mixin a11y-list {
   list-style: none;
   padding: 0;
   margin: 0;
}

@mixin btn {
   border: none;
   background: none;
   font-family: var(--font-primary);
   cursor: pointer;

   &:disabled {
      cursor: default;
   }
}

@mixin aspect-ratio($val) {
   position: relative;

   &:before {
      content: "";
      display: block;
      width: 100%;
      padding-top: ($val) * 100%;
   }

   &>* {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
   }
}

@mixin line-clamp($lines) {
   display: -webkit-box;
   -webkit-line-clamp: $lines;
   -webkit-box-orient: vertical;
   overflow: hidden;
}
